body {
  margin: 0;
  padding: 0;
  background: #f2f2f2;
}
.social-icon ul {
  list-style: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  margin: 0;
  padding: 0;
  display: flex;
}
.social-icon ul li {
  /* list-style: none; */
  margin: 0 40px;
}
.social-icon ul li a .fa {
  font-size: 40px;
  color: #262626;
  line-height: 80px;
  transition: 0.5s;
}
.social-icon ul li a {
  position: relative;
  display: block;
  width: 80px;
  height: 80px;
  background: #fff;
  text-align: center;
  transform: perspective(1000px) rotate(-3deg) skew(25deg) translate(0, 0);
  transition: 0.5s;
  box-shadow: -20px 20px 10px rgba(0, 0, 0, 0.5);
}
.social-icon ul li a::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -20px;
  height: 100%;
  width: 20px;
  background: #b1b1b1;
  transition: 0.5s;
  transform: rotate(0deg) skewY(-45deg);
}

.social-icon ul li a:after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: -10px;
  height: 20px;
  width: 100%;
  background: #b1b1b1;
  transition: 0.5s;
  transform: rotate(0deg) skewX(-45deg);
}
.social-icon ul li a:hover {
  transform: perspective(1000px) rotate(-3deg) skew(25deg)
    translate(20px, -20px);
  box-shadow: -50px 50px 50px rgba(0, 0, 0, 0.5);
}
.social-icon ul li:hover .fa {
  color: #fff;
}
.social-icon ul li:nth-child(1) a {
  background: #3b5999;
}
.social-icon ul li:hover:nth-child(1):before a {
  background: #3b5999;
}
.social-icon ul li:hover:nth-child(1):after a {
  background: #3b5999;
}
.social-icon ul li:nth-child(2) a {
  background: #0077b5;
}
.social-icon ul li:hover:nth-child(2):before a {
  background: #0077b5;
}
.social-icon ul li:hover:nth-child(2):after a {
  background: #0077b5;
}
.social-icon ul li:nth-child(3) a {
  background: #dd4b39;
}
.social-icon ul li:hover:nth-child(3):before a {
  background: #dd4b39;
}
.social-icon ul li:hover:nth-child(3):after a {
  background: #dd4b39;
}

.social-icon ul li:nth-child(4) a {
  background: #3f729b;
}
.social-icon ul li:hover:nth-child(4):before a {
  background: #3f729b;
}
.social-icon ul li:hover:nth-child(4):after a {
  background: #3f729b;
}
.social-icon ul li:nth-child(5) a {
  background: #55acee;
}
.social-icon ul li:hover:nth-child(5):before a {
  background: #55acee;
}
.social-icon ul li:hover:nth-child(5):after a {
  background: #55acee;
}
